[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/JanX2/googletest.git
[submodule "external/logging"]
	path = external/logging
	url = https://github.com/jkeiren/logging
[submodule "external/commandline"]
	path = external/commandline
	url = https://github.com/jkeiren/commandline.git
